.clairvoyant,
.titlebar {
  background-color: @SLATE_900;
  color: @SILVER_100;
}

.fortune {
  font-size: 3em;
}

.positive {
  color: @LIME_300;
}

.negative {
  color: @STRAWBERRY_300;
}

.neutral {
  color: @BANANA_500;
}

